<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="rh_plus_7_axis_robot_arm_hand_ros2_control" params="name ros2_control_hardware_type">
        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${ros2_control_hardware_type == 'fake'}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:if>
                <xacro:if value="${ros2_control_hardware_type == 'real'}">
                    <plugin>mock_components/GenericSystem</plugin>
                    <!-- <plugin>robotarm_hardware/ROBOTArmSystemHardware</plugin> -->
                    <param name="example_param_hw_start_duration_sec">0</param>
                    <param name="example_param_hw_stop_duration_sec">3.0</param>
                    <param name="example_param_hw_slowdown">100</param>
                </xacro:if>
            </hardware>

            <joint name="slider_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
